
:root {
    --level-1: #8dccad;
    --level-2: #f5cc7f;
    --level-3: #7b9fe0;
    --level-4: #f27c8d;
    --black: black;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  ol {
    list-style: none;
  }
  
  /* body {
    margin: 50px 0 100px;
    text-align: center;
    font-family: "Inter", sans-serif;
  } */
  
  .container-chart2 {
    display: flex;
    /* max-width: 1000px; */
    padding: 0 10px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto
  }
  
  .rectangle2 {
    position: relative;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  }
  
  
  /* LEVEL-1 STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .level-12 {
    display: flex; /* Enable flexbox */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    height: 40px;
    width: 17%;
    margin-left: 75px;
    cursor: pointer;
    color: white;
    font-size: 30px;
    border-radius: 15px;
    font-family: 'Pirulen';
    background: linear-gradient(to bottom, blue, green);
}


  
  .level-12::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 45%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px;
    background: var(--black);
  }
  
  
  /* LEVEL-2 STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .level-22-wrapper {
    position: relative;
    display: flex;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 30px;
  }
  
  .level-22-wrapper::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 7.6%;
    width: 87.8%;
    height: 2px;
    background: var(--black);
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
}
  
  .level-22-wrapper::after {
    display: none;
    content: "";
    position: absolute;
    left: -20px;
    bottom: -20px;
    width: calc(100% + 20px);
    height: 2px;
    background: var(--black);
  }
  
  .level-22-wrapper li {
    position: relative;
  }
  
  .level-22-wrapper > li::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px;
    background: var(--black);
  }
  
  .level-22 {
    font-size: 11px;
    cursor: pointer;
    text-align: center;
    height: 43px;
    width: 91%;
    margin: 0 auto 40px;
    background: transparent;  
  }
  
  /* .level-2::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px;
    background: var(--black);
  } */
  
  .level-22::after {
    display: none;
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-100%, -50%);
    width: 20px;
    height: 2px;
    background: var(--black);
  }
  
  
  /* LEVEL-3 STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
 
  
  /* MQ STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  @media screen and (max-width: 700px) {
    .rectangle {
      padding: 20px 10px;
    }
  
    .level-1,
    .level-2 {
      width: 100%;
    }
  
    .level-1 {
      margin-bottom: 2px;
    }
  
    .level-1::before,
    .level-2-wrapper > li::before {
      display: none;
    }
    
    .level-2-wrapper,
    .level-2-wrapper::after,
    .level-2::after {
      display: block;
    }
  
    .level-2-wrapper {
      width: 90%;
      margin-left: 10%;
    }
  
    .level-2-wrapper::before {
      left: -20px;
      width: 2px;
      height: calc(100% + 40px);
    }
  
    .level-2-wrapper > li:not(:first-child) {
      margin-top: 50px;
    }
  }
  
  
  /* FOOTER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .page-footer {
    position: fixed;
    right: 0;
    bottom: 20px;
    display: flex;
    align-items: center;
    padding: 5px;
  }
  
  .page-footer a {
    margin-left: 4px;
  }
  